@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  list-style:none;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img{
    width:2.15rem;
    margin: 0.16rem 0 0.16rem 0.18rem;
  }
  span{
    font-size: 0.36rem;
  }
  .rig{
    display: flex;
    align-items: center;
    margin-right: 0.18rem;
    div{
      text-align: center;
      margin-left: 0.2rem;
      font-size: 0.22rem;
      color: #999999;
      span{
        font-size: 0.45rem;
      }
    }
  }
}

.text_home{
  border-bottom: 0.2rem solid #F4F4F4;
  padding: 0rem 0.16rem;
  border-top: 0.2rem solid #F4F4F4;


  div{
    text-indent:0.32rem;
    font-size:0.28rem;
    color: gray;
    margin: 0.36rem 0;

  }
}
footer{
  width:100%;
  position:relative;
  font-size:0.28rem;
  .iconfont{
    color: #38C993;
    font-size:0.28rem;
  }
}
.chu{
  display: flex;
  li{
    width:25%;
    text-align: center;
  }
  a{
    color: #000;
  }
}
.last{
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  background: rgba(0,0,0,0.8);
  overflow: hidden;
  align-items: center;
  img{
    width:60%;
  }
  .icon-close{
    width:0.8rem;
    height: 0.8rem;
    color: white;
    border-radius: 50%;
    background:#38C993 ;
    font-size:0.24rem;
    position: absolute;
    top:-0.3rem;
    left:-0.5rem;
    text-align: right;
    line-height: 1rem;
  }
}
.yellow{
  font-size: 0.28rem;
  color: white;
  width:1.76rem;
  height:0.5rem;
  line-height: 0.5rem;
  background: #FEB605;
  color: white;
  border-radius:25px;
  text-align: center;
}
.footer_img{
  width:100%;
  //margin-top: -0.05rem;
}
.icon-backtop{
  width:0.94rem;
  height: 0.94rem;
  border:1px solid #dedede;
  font-size:40px;
  text-align: center;
  line-height:0.94rem;
  border-radius:50%;
  position: fixed;
  bottom:270px;
  right:20px;
  background: white;
}
body{
  padding-bottom: 1.44rem;
}
.fix{
  width:100%;
  position: fixed;
  bottom:0;
  display: flex;
  flex-direction: column;
  height:1.44rem;
}
.icon-search{
  color:#38C993;
  font-size:0.28rem;
}

.tel{
  text-align: center;
  margin: 0.38rem 0;
}
//开始这也页面的样式
section{
  padding: 0.16rem;
  box-sizing: border-box;
}
.guan{
  border-top: 1px solid #eeeeee;
  padding: 0.36rem 0.16rem;
  .name{
    font-size: 0.28rem;
  }
  .good{
    width:1.1rem;
    background: #38C993;
    color: white;
    font-size:0.24rem;
    border-radius: 5px;
    margin: 0.48rem 0;
    text-align: center;
    height: 0.32rem;
    line-height: 0.32rem;
  }
  p{
    font-size:0.24rem;
    margin-bottom: 0.3rem;
  }
  .gray{
    color: #999;
  }
  p:nth-of-type(2){
    word-spacing: 0.62rem;
  }
  ol{
    width: 100%;
    display: flex;
    li{
      border:1px solid #eeeeee;
      width: 50%;
      height:0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li:nth-of-type(1){
      color: #4DB0F8;
    }
    li:nth-of-type(2){
      color: #38C993;
    }
  }
}
.content{
  background: #F4F4F4;
  p:nth-of-type(1){
    font-size:0.28rem;
    word-spacing: 0.22rem;
    a{
      color: #38c894;
    }
    .xiangmu{
      color: #666;
    }
    margin-bottom: 0.36rem;
  }
  .box{
    display: flex;
    align-items: center;
    font-size:0.28rem;
    .radius{
      width: 0.45rem;
      height: 0.45rem;
      background:#38c894;
      border-radius: 50%;
    }
    .line{
      color: #38c894;
      border: 1px solid;
      width:0.45rem;
    }
    .time{
      width:2.1rem;
      height: 0.6rem;
      color: #666;
      background: #eaeaea;
      text-align: center;
      line-height: 0.6rem;
    }
    .ni{
      color: white;
      background:#38c894;
      height:0.6rem;
      width:0.95rem;
      text-align: center;
      line-height:0.6rem;
    }
    .yan{
      width:1.6rem;
      background:#F5B005;
      color: white;
      margin-left: 0.12rem;
      height:0.6rem;
      text-align: center;
      line-height: 0.6rem;
    }
  }
  .jie{
    border-left: 1px solid #dcdcdc;
    margin-left: 0.225rem;
    box-sizing: border-box;
    padding: 0.3rem;
    .success{
      margin-bottom: 0.3rem;
      font-size:0.28rem;
    }
    ul{
      width:100%;
      display: flex;
      flex-wrap: wrap;
      li{
        width:33.3%;
        padding: 0 0.06rem 0.06rem 0;
        box-sizing: border-box;
        height:2.10rem;
      }
      img{
        width:2.07rem;
        height: 2.04rem;
      }
    }


  }
  .shi{
    width:1.6rem;
    background:grey;
    color: white;
    margin-left: 0.12rem;
    height:0.6rem;
    text-align: center;
    line-height: 0.6rem;
  }
  .maximg{
    width:6.26rem;
    height:4.72rem;
  }
  .hou{
    padding-bottom: 0.32rem;
    height:5.7rem;
  }

}
