@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  list-style:none;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  img{
    width:2.15rem;
    margin: 0.16rem 0 0.16rem 0.18rem;
  }
  span{
    font-size: 0.36rem;
  }
  .rig{
    display: flex;
    align-items: center;
    margin-right: 0.18rem;
    div{
      text-align: center;
      margin-left: 0.2rem;
      font-size: 0.22rem;
      color: #999999;
      span{
        font-size: 0.45rem;
      }
    }
  }
}
.text_home{
  border-bottom: 0.2rem solid #F4F4F4;
  padding: 0rem 0.16rem;
  border-top: 0.2rem solid #F4F4F4;


  div{
    text-indent:0.32rem;
    font-size:0.28rem;
    color: gray;
    margin: 0.36rem 0;

  }
}
footer{
  width:100%;
  position:relative;
  font-size:0.28rem;
  .iconfont{
    color: #38C993;
    font-size:0.28rem;
  }
  .ban{
    color:gray;
    text-align: center;
    width: 100%;
    padding: 0.36rem 0;
  }
  img{
    width:100%;
  }
}
.chu{
  display: flex;
  height:0.64rem;
  border-bottom: 1px solid #eeeeee;
  li{
    width:25%;
    text-align: center;
    border-right:1px solid #eeeeee;
  }
  a{
    color: #000;
  }
  .a1{
    color:#38c894;
  }
}


.icon-backtop{
  width:0.94rem;
  height: 0.94rem;
  border:1px solid #dedede;
  font-size:40px;
  text-align: center;
  line-height:0.94rem;
  border-radius:50%;
  position: fixed;
  bottom:270px;
  right:20px;
  background: white;
}
.tel{
  text-align: center;
  margin: 0.38rem 0;
}
body{
  padding-bottom: 1.44rem;
  display: flex;
  flex-direction: column;
}

.er{
  margin: 0.36rem auto;
  font-size:0.36rem;
}
.heng{
  width:100%;
}
.know{
  padding:0.32rem 0.16rem;
  font-size:0.28rem;
  color: #333;
}
